{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Polls App</title>
		<link rel="stylesheet" type="text/css"  href="{% static 'polls/styles.css' %}" />
	</head>
	<body>
    {% if latest_question_list %}
      <ul>
        {% for question in latest_question_list %}
          <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>

    {% endif %}
	</body>
</html>
